.navigation-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  background: none;
  background-color: none;
}

.navigation-options ion-item {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(20% - 20px);
  margin: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .navigation-options ion-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .navigation-options ion-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
