<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>School List</ion-title>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button (click)="createSchool()">Create School</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">School List</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let school of schools">
        <ion-avatar slot="start">
          <img [src]="school.logo" alt="School Logo" />
        </ion-avatar>
        <ion-label>
          <h2>{{ school.name }}</h2>
          <p>{{ school.address }}</p>
          <p>{{ school.contact }}</p>
        </ion-label>
        <ion-button *ngIf="isAdmin" (click)="editSchool(school.id)">Edit</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
